*
!.gitignore
!user.png
!qr.png
!google-store.png
!apple-store.png
!Bakery.png
!Books & Stationery.png
!Butchery.png
!Electronics.png
!Fashion.png
!Food & Groceries.png
!Health & Beauty.png
!Hypermarket.png
!Kids & Babies.png
!Pharmacy.png
!Laptops & Computers.png
!Mobiles & Tablets.png
!Sports & Outdoors.png
!store1.png
!store2.png
!store3.png
!store4.png
!slider-1.jpg
!slider-2.jpg
!slider-3.jpg
!AK-900 Wired Keyboard.png
!ASUS FHD Gaming Laptop.png
!Breed Dry Dog Food.png
!CANON EOS DSLR Camera.png
!Curology Product Set.png
!Fresh Chicken.png
!GP11 Shooter USB Gamepad.png
!Gucci duffle bag.png
!HAVIT HV-G92 Gamepad.png
!HAVIT HV-G92 Gamepad 2.png
!HAVIT HV-G92 Gamepad 3.png
!IPS LCD Gaming Monitor.png
!Jr. Zoom Soccer Cleats.png
!Kids Electric Car.png
!PlayStation 5.png
!Quilted Satin Jacket.png
!RGB liquid CPU Cooler.png
!S-Series Comfort Chair.png
!Small BookSelf.png
!The north coat.png
!Chicken Burger.jpg
!Cheese.jpg
!Fries.jpg
!Spiro Spathis.jpg
