*
!.gitignore
!user.png
!qr.png
!google-store.png
!apple-store.png
!Bakery.png
!Books & Stationery.png
!Butchery.png
!Electronics.png
!Fashion.png
!Food & Groceries.png
!Health & Beauty.png
!Hypermarket.png
!Kids & Babies.png
!Pharmacy.png
!Laptops & Computers.png
!Mobiles & Tablets.png
!Sports & Outdoors.png
!store1.png
!store2.png
!store3.png
!store4.png
